body{
    cursor: url(/assets-images/icons/icons8-voiture-30b.png), auto;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, #010749, #2e6abf);
}
.logo{
    height: 8rem;
}
.home{
    width: 20%;
}
.search-menu {
    display: flex;
    flex-direction: row;
    height: 3rem;
    max-width: 300px;
    margin: 20px auto;
}

.search-menu input {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
}

.search-menu button {
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 0 5px 5px 0;
    background-color: #ccc;
    color: #fff;
}  

/* Style pour le bouton au survol */
.search-menu button:hover {
    background-color: #555;
    cursor: pointer;
}
.login-button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #3498db; 
    color: #fff; 
    cursor: pointer;
    margin: 10px; 
}
.login-button:hover {
    background-color: #2980b9; 
}
.panier {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #f0c903; 
    color: #fff; 
    cursor: pointer;
    margin: 10px; 
}
  
.panier:hover {
    background-color: #f0c803cf; 
}
/* Style de la navigation*/
nav {
    background-color: #333;
    color: #fff;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    z-index: 1;
}
nav ul {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    z-index: 1;

}
nav li {
    position: relative;
    z-index: 1;

} 
nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    z-index: 1;

}
nav a:hover {
    background-color: #555;
    border-bottom: 3px rgb(0, 179, 255) solid;
    z-index: 1;

}
  
/* Style du menu déroulant */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #444;
    min-width: 200px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}
.dropdown-content li {
    display: block;
}
 
.dropdown:hover .dropdown-content {
    display: block;
}


main{
    background-image: url(/assets-images/fonds/fond_index.jpg);
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;

}
section{
    padding: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 33%;
    background-color:  rgb(235, 235, 162);
    width: 33%;
}
section h2{
    background: linear-gradient(180deg, rgb(103, 103, 103), rgb(29, 29, 29));
    color: white;
    text-align: center;
}
.section-top{
    margin-top: 3vh;
}
.section-bottom{
    margin-bottom: 3vh;
}

.logox{
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    align-items: center;
    padding-top: 2%;
}
.logox div{
    width: 6rem;
}
.logox img{
    width: 5rem;
    padding: 0.5rem;
}
.logox img:hover{
    opacity: 0.7;
    width: 5.5rem;
}
.logo1{
    display: flex;
    justify-content: space-around;
    background-color:  rgb(235, 235, 193);
    border-radius: 10px;
    align-items: center;
}
.logo1 div{
    width: 6rem;
}
.logo1 img{
    width: 5rem;
    padding: 0.5rem;
}
.logo1 img:hover{
    opacity: 0.7;
    width: 5.5rem;
}
.logo2 {
    display: flex;
    justify-content: space-around;    
    background-color:  rgb(235, 235, 193);
    border-radius: 10px;
    align-items: center;

}
.logo2 div{
    width: 6rem;
}
.logo2 img{
    width: 5rem;
    padding: 0.5rem;

}

.logo3 {
    display: flex;
    justify-content: space-around;
    background-color:  rgb(235, 235, 193);
    border-radius: 10px;
    align-items: center;

}
.logo3 div{
    width: 6rem;
}
.logo3 img{
    width: 5rem;
    padding: 0.5rem;

}
/* Styles pour le carousel d'images */
.body-carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    background-color:  rgb(235, 235, 162);
    width: 45vh;
    margin-top: 3vh;
    border-radius: 40px;
    border: 2px solid black;
    opacity: 0.8;
    margin-bottom: 3vh;
}

.carousel {
    position: relative;
    width: 400px;
    margin: auto;
    opacity: 1;
}

.slides {
    display: flex;
}

.slide {
    display: none;
}

.slide img {
    width: 100%;
}

.body-carousel button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    cursor: pointer;
    border: none;
    background: none;
}

#prevBtn {
    left: 0;
}

#nextBtn {
    right: 0;
}

/* Mise en forme du footer */
footer {
    display: flex;
    justify-content: space-around;
    color: white;
    padding: 2rem;
    background: linear-gradient(90deg, #010749, #2e6abf);
    border-top: 2px solid black;
}
footer a {
    color: white;
    text-decoration: none;
}
footer a:hover{
    text-decoration: underline;
}


.infos-entreprises{
    display: flex;
    flex-direction: column;
}
.infos-entreprises a {
    padding: 2px;
}
/* Mise en forme des images des réseaux sociaux */
.social{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1fr;
}
.social1{
    grid-column-start: 1;
    grid-column-end: 6;
}
.social img {
    padding: 5px;
    height: 40px;
}
.social img:hover{
    opacity: 0.7;
}

.indexiframe{
    padding-left: 5%;
}
@media screen and (max-width: 1100px){
    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .social{
        display: flex;
        flex-direction: row;
    }
    
}