.apropos {
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 33%;
    background-color:  rgb(235, 235, 162);
    width: 33%;
}

.apropos h3 {
    text-align: center;
    padding: 5px;
    color: white;
    background: linear-gradient(180deg, rgb(103, 103, 103), rgb(29, 29, 29));
    width: 98%;
}
.aproposdivimg{
    padding-top: 2%;
    padding-left: 33%;
}
.aproposdiv {
    padding: 1%;
}
iframe {
    padding-top: 1%;
    border-radius: 1rem;
}