.cgu {
    display: flex;
    flex-direction: column;
    margin-left: 30%;
    margin-top: 1%;
    margin-bottom: 1%;
    width: 35%;
    background-color:  rgb(235, 235, 162);
    text-align: justify;
}
.cgu h3 {
    text-align: center;
    padding: 3px;
    color: white;
    background: linear-gradient(180deg, rgb(103, 103, 103), rgb(29, 29, 29));
    width: 99%;
}
.cgu h4 {
    text-align: center;
    padding: 5px;
    color: white;
    background: linear-gradient(180deg, rgb(103, 103, 103), rgb(29, 29, 29));
    width: 98.5%;
}

.cgu h5 {
    text-align: center;
    padding: 3px;
    color: white;
    background: linear-gradient(180deg, rgb(103, 103, 103), rgb(29, 29, 29));
    width: 50%;
}
.cgu p{
    padding-left: 10px;
    padding-right: 10px;
}