body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    margin: 0;
    padding: 0;
    justify-content: center;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 30px;
}

header h1 {
    font-size: 2em;
}

.subscribe, .about {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
}

.subscribe h2, .about h2 {
    font-size: 1.5em;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input, button {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

.medium-image {
    display: flex;
    width: 50vh;
    align-items: center;

}