main_financement {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /*background-image: url(/assets-images/fonds/fond_index.jpg); Indiqué dans le fichier racine style.css */
    background-color: white;
}

.container {
    text-align: center;
    justify-content: space around;
    padding-left: 50px;
    padding-right: 50px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    text-align: center;
    justify-content: space-around;
    grid-gap: 50px;
}

.column {
    display: flex
    padding: 10px;
    margin: 20px;
    background-color: #0e7df3c9;
    justify-content: space-around;
    border: 30px black;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(226, 224, 224, 0.625);
    justify-content: center;
}
