main {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    text-align: center;
    justify-content: space around;
    padding-left: 50px;
    padding-right: 50px;
}

.grid-container {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    text-align: center;
    justify-content: space-around;
    grid-gap: 50px;
}

.column {
    display: grid
    padding: 20px;
    background-color: white;
    justify-content: space-around;
    border: 1px black;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(226, 224, 224, 0.625);
}

.box {
    color: white;
    background-color: #0e7df3c9;
    border-radius: 10px;
    /* border: 3px solid black; */
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.image-list {
    list-style-type: none; /* Supprimez les puces par défaut */
    padding: 0;
}

.image-list li {
    margin-bottom: 10px;
    padding-left: 20px; /* Ajoutez de l'espace à gauche de chaque élément de la liste pour que la "puce" ait la place de s'afficher */
    background-image: url('/assets-images/icons/tick.png'); /* Utilisez votre image de puce */
    background-size: 16px 16px; /* Ajustez la taille de l'image de puce selon vos besoins */
    background-repeat: no-repeat;
    text-align: left; /* l'image de la coche (ou tick) n est pas répétée (ne s'affiche qu'une seule fois) */
}