.contact {
    padding: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 33%;
    background-color:  rgb(235, 235, 162);
    width: 33%;
}

h2{
    background: linear-gradient(180deg, rgb(103, 103, 103), rgb(29, 29, 29));
    color: white;
    text-align: center;
}
