.contact {
    padding: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 25%;
    background-color:  rgb(235, 235, 162);
    width: 50%;
}
iframe {
    width: 60%;
    margin-left: 20%;
}
.contact2 {
    padding: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 8%;
    background-color:  rgb(235, 235, 162);
}
h2{
    background: linear-gradient(180deg, rgb(103, 103, 103), rgb(29, 29, 29));
    color: white;
    text-align: center;
}


.miniatures{
    display: grid;
    grid-template-rows: repeat(2, 5fr);
    grid-template-columns: repeat(3, 5fr);
    gap: 1fr;
}
.miniatures img{
    width: 95%;
    border-radius: 20px;
    border: 1px solid black;
}
.miniatures img:hover{
    opacity: 0.7;
}

.miniaturesindex{
    display: grid;
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 2fr;
}
.miniaturesindex img{
    width: 80%;
    margin-left: 10%;
    margin-top: 10%;

    border-radius: 20px;
    border: 1px solid black;
}
.miniaturesindex img:hover{
    opacity: 0.7;
}
.miniaturesindex div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;
    background-color:  rgb(235, 235, 193);
    border: 1px solid rgb(251, 188, 0);
    width: 80%;
    height: 95%;
    margin: 1%;
}
.miniaturesindex p{
    padding-left: 5%;
    padding-right: 5%;
}

.miniatures3{
    display: grid;
    grid-template-columns: repeat(3, 4fr);
    gap: 1fr;
}
.miniatures3 img{
    width: 95%;
    border-radius: 20px;
    border: 1px solid black;
}
.miniatures3 img:hover{
    opacity: 0.7;
}
.miniatures4{
    display: grid;
    grid-template-columns: repeat(2, 5fr);
    gap: 1fr;
}
.miniatures4 img{
    width: 95%;
    border-radius: 20px;
    border: 1px solid black;
}
.miniatures4 img:hover{
    opacity: 0.7;
}
.price {
    font-size: 100%; 
    font-weight: bold; 
    color: #ff9900; 
    width: fit-content;
    margin-left: 2%;
    margin-bottom:15% ;
    text-decoration: underline; 
    text-transform: uppercase; 
    background-color: #f5f5f5; 
    padding: 3% 6%; 
    border-radius: 5px; 
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2); 
    display: inline-block; 
    transition: background-color 0.3s; 
}

.price:hover {
    background-color: #ff9900; 
    color: #fff; 
}
.carname{
    font-size: 100%; 
    font-weight: bold; 
    color: #010749; 
    
}




@media screen and (max-width: 1100px){
    .carname{
        font-size: 80%;
    }
    .price {
        font-size:80% ;

    }
    .miniaturesindex div{
        border-radius: 15px;

    }
    iframe {
        width: 80%;
        margin-left: 10%;
    }
}
@media screen and (max-width: 900px){
    .carname{
        font-size: 60%;
    }
    .price {
        font-size:60% ;

    }
    .miniaturesindex div{
        border-radius: 12.5px;

    }
    iframe {
        width: 60%;
        height: 100%;
        margin-left: 20%;
    }
}
@media screen and (max-width: 650px){
    .carname{
        font-size: 40%;
    }
    .price {
        font-size:40% ;

    }
    .miniaturesindex div{
        border-radius: 10px;

    }
    iframe {
        width: 80%;
        height: 70%;
        margin-left: 10%;
    }
}
@media screen and (max-width: 460px){
    .carname{
        font-size: 10%;
    }
    .price {
        font-size:10% ;

    }
    .miniaturesindex div{
        border-radius: 7px;

    }
    iframe {
        width: 80%;
        height: 40%;
        margin-left: 10%;
    }
}

@media screen and (min-width: 1300px){
    .miniaturesindex{
        display: grid;
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: repeat(4, 1fr);
        gap: 2fr;
    }
    .contact2 {
        margin-left: 4%;
    }
}
@media screen and (max-width: 1300px){
    .miniaturesindex{
        display: grid;
        grid-template-rows: repeat(8, 1fr);
        grid-template-columns: repeat(3, 1fr);
        gap: 2fr;
    }
    .contact2 {
        margin-left: 5%;
    }
}
@media screen and (max-width: 800px){
    .miniaturesindex{
        display: grid;
        grid-template-rows: repeat(11, 1fr);
        grid-template-columns: repeat(2, 1fr);
        gap: 2fr;
    }
    .contact2 {
        margin-left: 5%;
    }
}